
/*!
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

body {
    overflow-x: hidden;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.text-muted {
    color: #ffffff;
}

.text-primary {
    color: #fff;
}

.services-icon {
	color: #ee2738;
}

p, ul li, ul ol {
    font-size: 18px;
    line-height: 1.55;
}

p.large {
	font-size: 15px;
}
p.contact {
	font-size: 15px;
	margin: 30px auto;
}
p.testimonio{
 font-style: italic;
    font-size: 32px;
    color: #ee2738;
}

ul li{
	list-style: disc;
	/*text-align:left!important;*/
}
ul.numbers li{
	list-style: decimal;
	text-align:left !important;
}

a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
}

a {
    color: #ee2738;
}

a:hover,
a:focus,
a:active,
a.active {
    color: #ee2738;
}

h1,
h2,
h3,
h4,
h6 {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}
h5 {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 500;
}
section#about, section#numbers, section#products{
	background:#ffffff;
	color:#555555;}

section#team h2{
	color:#ee2738;
}

section#numbers h2.num{
	font-size:60px;
	color:#555555;
	border-top:1px solid #ee2738;
	border-bottom:1px solid #ee2738;
	line-height:63px;
}

section#numbers h2.num.totalAhorro{
font-size:190px;
	line-height:190px;
	color:#FFF;
	border:0px;
}
@media(max-width:768px) {
	  section#numbers h2.num.totalAhorro{
		font-size:60px;
		line-height:60px;
		color:#FFF;
		border:0px;
		}
		
		.modal-body{
		padding:0px;
		}
}

section#numbers h2{
 line-height:38px;
}

section#numbers div.border-box{
	background:#ee2738;

}

p.note{
	font-size:14px;
	font-style:italic;
	text-align:center;
	color:#666666;
	margin-top:20px;}

ul.popup {
	margin: 0 auto 20px;
    padding-left: 0;
    display: table;
    text-align: left;
	font-size:18px;
}

.img-centered {
    margin: 0 auto;
}

.bg-light-gray {
    background-color: #cecece;
}

.bg-darkest-gray {
    background-color: #222;
}

.btn-primary {
    border-color: #ee2738;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #ee2738;
    background-color: #ffffff;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
	border-color: #000000;
	color: #000;
	background-color: #ffffff;
}

.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-image: none;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    border-color: #ee2738;
    background-color: #ee2738;
}

.btn-primary .badge {
    color: #ee2738;
    background-color: #fff;
}

.btn-xl {
    padding: 10px 20px 5px 20px;
    border-color: #ee2738;
	border: 0px solid #ee2738;
    border-radius: 10px;
    color: #e2e2e2;
	box-shadow: -15px 30px 7px #c2c2c2;
	border: 1px solid #eee;
}
.btn-xl:hover,
.btn-xl:focus,
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
	color: #fff;
}

.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
    background-image: none;
}

.btn-xl.disabled,
.btn-xl[disabled],
fieldset[disabled] .btn-xl,
.btn-xl.disabled:hover,
.btn-xl[disabled]:hover,
fieldset[disabled] .btn-xl:hover,
.btn-xl.disabled:focus,
.btn-xl[disabled]:focus,
fieldset[disabled] .btn-xl:focus,
.btn-xl.disabled:active,
.btn-xl[disabled]:active,
fieldset[disabled] .btn-xl:active,
.btn-xl.disabled.active,
.btn-xl[disabled].active,
fieldset[disabled] .btn-xl.active {
    border-color: #ee2738;
    background-color: #ee2738;
}

div.border-box{
	border:1px solid #ffffff; 
	padding:6px;
	margin-bottom:30px;

}
.margin-bot-50{
	margin-bottom:50px;
}
.text-left{
	text-align:left;
}

.redTefipro{
	color:#ee2738;

}

.btn-xl .badge {
    color: #ee2738;
    background-color: #fff;
}
.btn-xl2 {
	padding: 20px 40px;
	border-radius: 3px;
	text-transform: uppercase;
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 18px;
	font-weight: 500;
	color: #ee2738;
	background-color: #ffffff;
	margin-top: 20px;
}
.btn-xl2:hover,
.btn-xl2:focus,
.btn-xl2:active {
	color: #ffffff;
	background-color: #222222;

}

.navbar-default {
    border-color: transparent;
    background-color: #222;
}

.navbar-default .navbar-brand {
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 700;
	color: #fff;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active {
    color: #ee2738;
}

.navbar-default .navbar-collapse {
    border-color: rgba(255,255,255,.02);
}

.navbar-default .navbar-toggle {
    border-color: #ee2738;
    background-color: #ee2738;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #ee2738;
}

.navbar-default .nav li a {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    color: #fff;
}

.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
    outline: 0;
    color: #ee2738;
}

.navbar-default .navbar-nav>.active>a {
    border-radius: 0;
    color: #fff;
    background-color: #ee2738;
}

.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #fff;
    background-color: #ee2738;
}
.line{
	width: 80%;
	margin-top: 20px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 30px;
	height: 1px;
	background: #fff;
	background-image: -webkit-linear-gradient(left, #cecece, #fff, #cecece);
	background-image: -moz-linear-gradient(left, #cecece, #fff, #cecece);
	background-image: -ms-linear-gradient(left, #cecece, #fff, #cecece);
	background-image: -o-linear-gradient(left, #cecece, #fff, #cecece);
	opacity: 0.5;
}
#portfolio .line, #team .line {
	background-image: -webkit-linear-gradient(left, #cecece, #fff, #cecece);
	background-image: -moz-linear-gradient(left, #cecece, #fff, #cecece);
	background-image: -ms-linear-gradient(left, #cecece, #fff, #cecece);
	background-image: -o-linear-gradient(left, #cecece, #fff, #cecece);
}

#portfolio h2{
	color:#777777;
}


header {
    text-align: center;
    color: #fff;
    background-attachment: scroll;
    background-image: url(../img/header-bg.jpg);
    background-position: center center;
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

header .intro-text {
    padding-top: 100px;
    padding-bottom: 50px;
}

header .intro-text .intro-lead-in {
    margin-bottom: 25px;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 22px;
    font-style: italic;
    line-height: 22px;
}

header .intro-text .intro-heading {
    margin-bottom: 25px;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
	background:#ee2738;
}


@media(min-width:768px) {
    header .intro-text {
        padding-top: 400px;
        padding-bottom: 200px;
    }

    header .intro-text .intro-lead-in {
	margin-bottom: 25px;
	font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 30px;
	font-style: italic;
	line-height: 40px;
	/*text-shadow: -15px 30px 7px #c2c2c2;*/
    }
    header .intro-text .intro-heading {
        margin-bottom: 50px;
        text-transform: uppercase;
        font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 75px;
        font-weight: 700;
        line-height: 75px;
		background:#ee2738;
		/*text-shadow: -15px 30px 7px #c2c2c2;*/
    }
}

section {
    padding: 50px 0;
	background-color: #ee2738;
	color: #ffffff;	
}

section h2.section-heading {
	margin-top: 60;
	margin-bottom: 50px;
	font-size: 40px;
	color: #ffffff;
}
section h3.section-subheading {
    margin-bottom: 75px;
    text-transform: none;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
}

@media(min-width:768px) {
    section {
	/*padding: 150px 0;*/
	background-color: #ee2738;
	color: #ffffff;
    }
}

.service-heading {
	margin: 20px 0;
	text-transform: none;
	font-size: 22px;
	color: #ffffff;
	font-weight: 500;
}

section#products h2.section-heading{
	color:#444444;}
.about-heading {
	margin: 20px 0 30px 0;
	text-transform: none;
	font-size: 22px;
	color: #444444;
 	font-weight: 500;
}

section#about h2.section-heading{
	color:#444444;}
.about-heading {
	margin: 20px 0 30px 0;
	text-transform: none;
	font-size: 22px;
	color: #444444;
 	font-weight: 500;
}
#about p {
	margin: 0;
	font-size: 18px;
}
#about img {
	margin-bottom: 25px;
}
#about ul {
	margin-top: 15px;
}
#about ul li {
/*	margin: 15px 0;*/
}
#about H4 {
	font-weight: 500;
}

#portfolio .portfolio-item {
    right: 0;
    margin: 0 0 15px;
}

#portfolio .portfolio-item .portfolio-link {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 400px;
	background:#ffffff;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: rgba(238,39,56,.9);
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
    opacity: 1;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 20px;
    margin-top: -12px;
    text-align: center;
    font-size: 20px;
    color: #fff;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
    margin-top: -12px;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
    margin: 0;
}

#portfolio .portfolio-item .portfolio-caption {
    margin: 0 auto;
    padding: 25px;
    max-width: 400px;
    text-align: center;
    background-color: #dedede;
	border-bottom: 1px solid #efefef;
}

#portfolio .portfolio-item .portfolio-caption h4 {
	margin: 0 0 10px 0;
	text-transform: none;
	font-size: 17px;
 	font-weight: 500;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	color: #666;
}

#portfolio .portfolio-item .portfolio-caption p {
	margin: 0;
	font-size: 14px;
	color: #666;
	font-family: 'Open Sans', sans-serif;
}

#portfolio * {
	z-index: 2;
	color: #fff;
}

@media(min-width:767px) {
    #portfolio .portfolio-item {
        margin: 0 0 30px;
    }
}

.team-member {
/*    margin-bottom: 50px;
    text-align: center;*/
}

.team-member img {
    margin: 0 auto;
    border: 7px solid #d7d4d4;
}

.team-member h4 {
	margin-top: 25px;
	margin-bottom: 0;
	text-transform: none;
	font-weight: 500;
}

.team-member p {
    margin-top: 0;
}

section#team {
	background-color: #ffffff;
	text-align: center;
	color:#555555;
}
section#contact {
	background-color: #cecece;
	text-align: center;
	color:#555555;
}

section#contact .section-heading {
    color: #555555;
}

section#contact .form-group {
    margin-bottom: 25px;
}

section#contact .form-group input,
section#contact .form-group textarea {
    padding: 15px;
}

section#contact .form-group input.form-control {
    height: auto;
}

section#contact .form-group textarea.form-control {
    height: 206px;
}

section#contact .form-control:focus {
    border-color: #ee2738;
    box-shadow: none;
}

section#contact::-webkit-input-placeholder {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #bbb;
}

section#contact:-moz-placeholder {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #bbb;
}

section#contact::-moz-placeholder {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #bbb;
}

section#contact:-ms-input-placeholder {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #bbb;
}

section#contact .text-danger {
    color: #e74c3c;
}

footer {
    padding: 25px 0;
    text-align: center;
}

footer span.copyright {
	text-transform: uppercase;
	text-transform: none;
	line-height: 40px;
	color: #888;
	font-weight: 400;
}
footer span.copyright a{
	color: #888;
	border-bottom: 1px dotted;
}
footer span.copyright a:hover {
	color: #555;
	text-decoration: none;
}

ul.social-buttons {
    margin-bottom: 0;
}

ul.social-buttons li a {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 40px;
    outline: 0;
    color: #fff;
    background-color: #ee2738;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
    background-color: #c4c4c4;
}

.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
    outline: 0;
}

.portfolio-modal .modal-content {
    padding: 100px 0;
    min-height: 100%;
    border: 0;
    border-radius: 0;
    text-align: center;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.portfolio-modal .modal-content h2 {
    margin-bottom: 15px;
    font-size: 2.75em;
}

.portfolio-modal .modal-content p {
	margin-bottom:10px;
    /*margin-bottom: 30px;*/
}

.portfolio-modal .modal-content p.item-intro {
    margin: 20px 0 30px;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-style: italic;
}

.portfolio-modal .modal-content ul.list-inline {
    margin-top: 0;
    margin-bottom: 30px;
}

.portfolio-modal .modal-content img {
    margin-bottom: 30px;
}

.portfolio-modal .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    background-color: transparent;
    cursor: pointer;
}

.portfolio-modal .close-modal:hover {
    opacity: .3;
}

.portfolio-modal .close-modal .lr {
    z-index: 1051;
    width: 1px;
    height: 75px;
    margin-left: 35px;
    background-color:red;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.portfolio-modal .close-modal .lr .rl {
    z-index: 1052;
    width: 1px;
    height: 75px;
    background-color:red;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

::-moz-selection {
    text-shadow: none;
    background: #ee2738;
}

::selection {
    text-shadow: none;
    background: #ee2738;
}

img::selection {
    background: 0 0;
}

img::-moz-selection {
    background: 0 0;
}

body {
    webkit-tap-highlight-color: #ee2738;
}

.selected {
    text-shadow: none;
	/* background: #ee2738;*/
}

/* Google maps to be responsive */
.google-maps {
        position: relative;
        padding-bottom: 75%; // This is the aspect ratio
        height: 0;
        overflow: hidden;
}
.google-maps iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
}

/* Testimonials carousel */
.carousel-indicators .active { background: #ee2738; }
.content { margin-top:20px; }
.adjust1 { float:left; width:100%; margin-bottom:0; }
.adjust2 { margin:0; }
.carousel-indicators li { border :1px solid #ccc; }
.carousel-control { color:#cecece; width:5%; }
.carousel-control:hover, .carousel-control:focus { color:#ee2738; } 
.carousel-control.left, .carousel-control.right { background-image: none; } 
.media-object { margin:auto; margin-top:15%; } 
@media screen and (max-width: 768px) { .media-object{ margin-top:0; } }

.carousel-indicators {
    position: absolute;
    bottom: -35px !important;
    left: 50%;
    z-index: 15;
    width: 60%;
    padding-left: 0;
    margin-left: -30%;
    text-align: center;
    list-style: none;
    /* margin-bottom: -15%; */
}